@font-face {
    font-family: answersheet;
    src: url(answersheet.woff);
}

.A3 {
    width: 420mm;
    height: 296mm;
}

.column1 {
    position: absolute;
    left: 15mm;
    top: 26mm;
    width: 120mm;
    height: 243mm;
}

.column2 {
    position: absolute;
    left: 150mm;
    top: 26mm;
    width: 120mm;
    height: 243mm;
}

.column3 {
    position: absolute;
    left: 285mm;
    top: 26mm;
    width: 120mm;
    height: 243mm;
}

.column_divider {
    position: absolute;
    height: 4mm;
    width: 6mm;
    background-color: black;
}

.column_flag_1 {
    left: 10mm;
    top: 20mm;
}

.column_flag_2 {
    left: 10mm;
    top: 274mm;
}

.column_flag_3 {
    left: 141mm;
    top: 20mm;
}

.column_flag_4 {
    left: 141mm;
    top: 274mm;
}

.column_flag_5 {
    left: 276mm;
    top: 20mm;
}

.column_flag_6 {
    left: 276mm;
    top: 274mm;
}

.column_flag_7 {
    left: 404mm;
    top: 20mm;
}

.column_flag_8 {
    left: 404mm;
    top: 274mm;
}

.column_spanner {
    position: absolute;
    height: 4mm;
    width: 4mm;
    background-color: black;
}

.span_column_flag_1 {
    left: 152mm;
    top: 20mm;
}

.anti_reverse_1 {
    position: absolute;
    height: 5mm;
    width: 5mm;
    left: 38mm;
    top: 16mm;
    background-color: black;
}

.answer_sheet_title {
    margin-top: 2mm;
    margin-bottom: 10mm;
    font-size: 7mm;
    font-weight: bold;
    text-align: center;
}

.answer_sheet_header {
    font-size: 3mm;
}

.answer_sheet_header > table, .answer_sheet_header > table > tbody > tr, .answer_sheet_header > table > tbody > tr > td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

.answer_sheet_header > table table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 2mm;
}

.answer_sheet_header > table tr {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    min-height: 5mm;
}

.answer_sheet_header > table td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.use_answer_sheet_font {
    font-family: answersheet;
    font-size: 5mm;
}

.fixed_row {
    height: 5mm;
}

.answer_sheet_answer_area_subjective {
    width: 100%;
}

.answer_sheet_answer_area_objective {
    width: 100%;
    height: 50mm;
    border: 1px solid black;
}

.answer_sheet_answer_area_subjective > table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    table-layout: fixed;
}

.answer_sheet_answer_area_subjective > table > tbody > tr {
    border-collapse: collapse;
    border: 1px solid black;
}

.answer_sheet_answer_area_subjective > table > tbody > tr > td {
    border-collapse: collapse;
    border: 1px solid black;
    vertical-align: top;
}

.answer_sheet_answer_area_subtitle {
    font-size: 3mm;
}

.answer_sheet_group_title {
    font-size: 4mm;
    margin-top: 7mm;
    margin-bottom: 1mm;
}

.answer_sheet_problem_title {
    font-size: 3mm;
    margin-bottom: 1mm;
    margin-top: 1mm;
}

.answer_sheet_answer_area_subjective_subarea {
    list-style-type: none;
    margin-bottom: 1mm;
    margin-top: 1mm;
    padding-left: 2mm;
}



