body {
    background-color: #d9dde4;
}

.all {
    display: block;
    min-width: 1280px;
    height: 100%;
}

.header_nav {
    width: 100%;
    height: 65px;
    background-color: #374760;
}

.change_school {
    float: left;
    margin-left: 3%;
    height: 100%;
}

.change_school img {
    float: left;
    width: 65px;
    height: 100%;
}

.school_info {
    float: right;
    height: 100%;
    width: calc(100% - 65px);
    background-color: #34557A;
    vertical-align: middle;
}

.school_info img {
    display: none;
    position: relative;
    width: 24px;
    height:24px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

.school_info select {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: 30px;
    transform: translate(-50%, -50%);
    background-color: #34557A;
    border-color: #34557A;
    color: #fff;
}

.main_nav {
    float: left;
    margin-left: 5%;
    height: 100%;
}

.main_nav_item {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 50px;
    color: #fff;
    align-content: center;
}

.main_nav_item span {
    display: block;
}

.main_nav_item label {
    display: block;
    height: 2px;
    margin-top: 3px;
    background-color: #fff;
}

.no_span span {
    color: darkgray;
}

.no_span label {
    visibility: hidden;
}

.person_info {
    float: right;
    margin-right: 3%;
    height: 100%;
}

.person_info img {
    position: relative;
    float: right;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

.person_info span {
    display: block;
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: darkgray;
}

.nav_path {
    width: 94%;
    height: 50px;
    margin: 10px auto;
    background-color: #fff;
}

.top_filter {
    width: 94%;
    height: 100px;
    margin: 10px auto;
    background-color: #fff;
}

.content {
    width: 94%;
    margin: 10px auto;
    background-color: #fff;
}

.left_filter {
    float: left;
    width: 20%;
    height: 600px;
    background-color: #fff;
}

.right_content {
    float: right;
    height: 600px;
    width: 79%;
    background-color: #fff;
}

.footer {
    float: left;
    width: 100%;
    height: 80px;
    margin: 30px auto;
    background-color: #fff;
}
